.btn-yours{
  color: blanchedalmond;
  background-color:rgba(196, 133, 60, 0.582);
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 35px;
  text-shadow: 1px 1px burlywood;
  transition: 0.3s;
}
.btn-yours:hover{
  border-radius: 4px;
}